@import "../../utils/style/variables.scss";

.info {
    display: flex;
    gap: 2%;
    @media (max-width: $mobile) {
        flex-direction: column;
    }
    &.reverse {
        flex-direction: row-reverse;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    .img-wrapper {
        min-width: 15rem;
        width: 200%;
        max-width: 40rem;
        @media (max-width: $mobile) {
            min-width: none;
            width: auto;
        }
    }
    .img {
        height: 100%;
        object-fit: cover;
    }
    .info_description {
        padding: 3%;
        height: fit-content;
        background-color: #fff;
        @media (max-width: $mobile) {
            padding: 3% 0;
        }
    }
}
