@import "../../utils//style/variables.scss";
@import "../../utils/style/mixins.scss";

.services_container {
    @include page-shrink;
    padding: 3rem;
    h1 {
        text-align: center;
        margin-bottom: 7rem;
        @media (max-width: $mobile) {
            margin-bottom: 3rem;
        }
    }
    .service_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }
}
