@import "../../utils//style/variables.scss";

.service {
    width: calc(0.7 * 100vw);
    max-width: $max-img-width;
    height: calc(0.5 * 100vw);
    max-height: calc(0.7 * $max-img-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img {
        height: 100%;
        object-fit: cover;
    }
    .service_text {
        width: 80%;
        position: absolute;
        bottom: 5%;
        background-color: #ffffff80;
        padding: 2rem;
        h2 {
            margin-bottom: 2rem;
        }
    }
}
