@import "../../utils//style/variables.scss";

.contact_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 5rem;
    background-image: url(../../assets/pics/sebastien-goldberg-ofL0tzkm67I-unsplash.avif);
    background-size: cover;
    h1 {
        margin-bottom: 4rem;
    }
    .contact_message {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }
}
