@import "../../utils/style/variables.scss";
@import "../../utils/style/mixins.scss";

.home_container {
    @include page-shrink;
    .hero {
        height: 500px;
        position: relative;
        @media (max-width: $mobile) {
            height: 300px;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        .hero-content {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
        }
    }
    .info_container {
        display: flex;
        flex-direction: column;
        gap: 20rem;
        padding: 10rem 3rem;
        @media (max-width: $mobile) {
            gap: 10rem;
            padding: 8rem 1rem;
        }
    }
}
