@import "../../utils/style/variables.scss";

#about {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 15%;
    background-color: #f5ae3d;
    align-self: center;
    margin-bottom: 5rem;
    @media (max-width: $mobile) {
        width: 100%;
        padding: 2rem 10%;
        gap: 0;
    }
    img {
        min-width: 15rem;
        width: 30vw;
        max-width: 32rem;
        align-self: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    .about_description {
        padding: 2rem;
        @media (max-width: $mobile) {
            padding: 1rem;
        }
    }
}
