@import "./variables.scss";

@mixin input-style {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

@mixin page-shrink {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}
