@import "../../utils//style/variables.scss";

.footer_container {
    width: 100%;
    height: $footer-header_desktop;
    display: flex;
    justify-content: space-between;
    background-color: #313532;
    color: #fff;
    padding: 0 5%;

    .social {
        display: flex;
        align-items: center;
        gap: 3rem;
        a,
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        i {
            color: #fff;
            font-size: 2rem;
        }
        // img {
        //     height: 2rem;
        // }
    }
    .footer-text {
        display: flex;
        align-items: center;
    }
    .button {
        width: 2rem;
        height: 2rem;
    }
}
