@import "../../utils/style/variables.scss";
@import "../../utils/style/mixins.scss";

.error_container {
    @include page-shrink;
    justify-content: center;
    align-items: center;
    .error_code {
        font-size: 4rem;
        font-weight: bold;
        margin: 2rem;
        color: $primary;
    }
    .error_text-wrapper {
        background-color: #fff;
        text-align: center;
        padding: 2rem;
    }
    .error_comment {
        font-size: 1.5rem;
    }
    .error_link {
        text-decoration: none;
        cursor: pointer;
    }
}
